<!--?xml version="1.0" encoding="UTF-8"?-->  
  
<hibernate-configuration>  
    <session-factory>  
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>  
        <property name="hibernate.connection.username">root</property>  
        <property name="hibernate.connection.password">newlife</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/evidence_db</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>  
        <property name="show_sql">true</property>   
        <property name="connection.pool_size">5</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.id.new_generator_mappings">false</property>

        <!-- here all entities will come -->
        <mapping class="core.db.entity.User"/>
         
    </session-factory>  
</hibernate-configuration> 